/** Palete COLOR 
#246F98
#3197AC
#CECAB4
#D1B446
**/


.titulo {
  text-align: center;
  color: #3197AC;
  font-size: 26px;
}

.tabla {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #CECAB4;
  width: 400px;
  border-radius: 25px;
  color: #246F98;
}

.comi {
  padding: 10px;
  color: #CECAB4;
}

a {
  color: #246F98
}

a:visited {
  color: #246F98;
}

.button-next-page {
  padding: 15px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.button-previus-page {
  padding: 15px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

body {
  background-color: #246F98;
  border-style: solid;
  border-color: #d1b446;
}

@media (max-width: 767px) {

  .titulo {
    text-align: center;
    color: #3197AC;
    font-size: 26px;
  }

  .tabla {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #CECAB4;
    width: 365px;
    border-radius: 25px;
    color: #246F98;
  }

  .comi {
    padding: 10px;
    color: #CECAB4;
  }

  a {
    color: #246F98
  }

  a:visited {
    color: #246F98;
  }

  .button-next-page {
    padding: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  .button-previus-page {
    padding: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  body {
    background-color: #246F98;
    border-style: solid;
    border-color: #d1b446;
  }
}
